.link {
  text-decoration: none;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    height: 0.2rem;
    width: 100%;
    left: -2%;
    bottom: -.6rem;
    background-color: $sec-col;
  } 
  
  transition: color .3s ease;

  &:hover {
    color: $sec-col;
  }
}