.logo {
  
  .logo {
    display: block;
    margin: 0 auto;
    width: 1.6rem;
    height: 4.4rem;

    @include respond(laptop) {
      width: 2.6rem;
      height: 7rem;
    }

    @include respond(tablet) {
      width: 3.6rem;
      height: 9rem;
    }

    @include respond(mobile-l) {
      width: 3.6rem;
      height: 8.4rem;
    }

    @include respond(mobile-m) {
      width: 3.6rem;
      height: 8.4rem;
    }

    @include respond(mobile-s) {
      width: 2.6rem;
      height: 6.4rem;
    }
  }
}