.events {
  padding-top: 17rem;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 144rem;
    margin: 0 auto;
  }

  &__item {
    display: flex;
    justify-content: center;
    &:not(:last-child) {
      margin-bottom: 12rem;

      @include respond(laptop) {
        margin-bottom: 2rem;
      }

      @include respond(tablet) {
        margin-bottom: 2rem;
      }

      @include respond(mobile-l) {
        margin-bottom: 20rem;
      }

      @include respond(mobile-m) {
        margin-bottom: 20rem;
      }

      @include respond(mobile-s) {
        margin-bottom: 20rem;
      }
    }

    @include respond(mobile-l) {
      flex-direction: column;
    }

    @include respond(mobile-m) {
      flex-direction: column;
    }

    @include respond(mobile-s) {
      flex-direction: column;
    }
  }

  &__item-text {
    width: 35.5rem;
    align-self: center;

    &:not(:last-child) {
      margin-right: 5rem;

      @include respond(laptop) {
        margin: 0;
      }

      @include respond(tablet) {
        margin: 0;
      }

      @include respond(mobile-l) {
        margin-right: 5rem;
      }
  
      @include respond(mobile-m) {
        margin-right: 5rem;
      }
  
      @include respond(mobile-s) {
        margin-right: 5rem;
      }
    }

    @include respond(laptop) {
      flex-basis: 50%;
      padding-right: 2rem;
      padding-left: 2rem;
    }

    @include respond(tablet) {
      flex-basis: 50%;
      padding-right: 2rem;
      padding-left: 2rem;
    }

    @include respond(mobile-l) {
      width: 100%;
      margin: 0 0 5rem 0 !important;
      padding: 0 1.5rem 0 1.5rem;
    }

    @include respond(mobile-m) {
      width: 100%;
      margin: 0 0 5rem 0 !important;
      padding: 0 1.5rem 0 1.5rem;
    }

    @include respond(mobile-s) {
      width: 100%;
      margin: 0 0 5rem 0 !important;
      padding: 0 1.5rem 0 1.5rem;
    }
  }

  &__heading {
    position: relative;
    z-index: 1;

    &::before {
      content: '01';
      position: absolute;
      z-index: -1;
      font-family: 'Poppins', sans-serif;
      font-size:13rem;
      font-weight: 700;
      line-height: 13rem;
      color: #f9f9f9;
      left: 0;
      bottom: -1.6rem;
    }

    &::after {
      content: '';
    position: absolute;
    height: 0.2rem;
    width: 7%;
    left: 0;
    bottom: -1.6rem;
    background-color: $sec-col;
    }
  }

  &__text {
    margin-top: 5rem;
    margin-bottom: 7rem;

    @include respond(mobile-s) {
      margin-bottom: 4rem;
    }
  }

  &__link {

  }

  &__item-pic {

    @include respond(laptop) {
      flex-basis: 50%;
    }
    
    @include respond(tablet) {
      flex-basis: 50%;
    }

    @include respond(mobile-l) {
      flex-basis: unset;
    }

    @include respond(mobile-m) {
      flex-basis: unset;
    }

    @include respond(mobile-s) {
      flex-basis: unset;
    }

    &:not(:last-child) {
      width: 100%;
      margin-right: 5rem;

     
    }
  }

  &__img {

    @include respond(laptop) {
      width: 100%;
    }

    @include respond(tablet) {
      width: 100%;
    }

    @include respond(mobile-l) {
      width: 100%;
    }

    @include respond(mobile-m) {
      width: 100%;
    }

    @include respond(mobile-s) {
      width: 100%;
    }
  }

  &:after {
    content: '';
    display: block;
    width: .2rem;
    height: 10rem;
    background-color: $sec-col;
    margin: 0 auto;
    margin-top: 11rem;
  }
}